::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login footer {
  position: absolute;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

header {
  -ms-flex-item-align: start;
      align-self: start;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

header #logo {
  width: 15vw;
}

header h1 {
  margin-left: 15px;
}

#pc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

fieldset {
  border-color: #8956EF;
  margin: 0px 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

fieldset legend {
  color: #8956EF;
  font-size: 2.5rem;
  text-align: center;
}

fieldset h3 {
  font-size: 2rem;
}

fieldset .adminText {
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: rgba(255, 0, 0, 0.527);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
}

fieldset .bdeText {
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: rgba(0, 255, 55, 0.527);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
}

fieldset .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1vh;
  width: 100%;
}

fieldset .input label {
  font-weight: 500;
  font-size: 1.5rem;
}

fieldset .input input {
  border: 2px solid #8956EF;
  border-radius: 5px;
  padding: 5px 0px;
  font-size: 1.25rem;
}

fieldset .input select {
  border: 2px solid #8956EF;
  border-radius: 5px;
  padding: 5px 0px;
  font-size: 1.25rem;
}

fieldset .sendBtn {
  margin-top: 3vh;
  background-color: #8956EF;
  border: none;
  color: white;
  border: 2px solid #8956EF;
  border-radius: 5px;
  height: 4vh;
  width: 10vh;
  font-size: 1.25rem;
}

fieldset .disabled {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-color: gray;
  border: 2px solid gray;
}

footer {
  background-color: #8956EF;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 375px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  header {
    -ms-flex-item-align: start;
        align-self: start;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  header #logo {
    width: 75%;
  }
  header h1 {
    display: none;
  }
  #pc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  fieldset {
    border-color: #8956EF;
    margin-top: 20px;
  }
  fieldset legend {
    color: #8956EF;
    font-size: 1.75rem;
    text-align: center;
  }
  fieldset h3 {
    font-size: 1.5rem;
  }
  fieldset .adminText {
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: rgba(255, 0, 0, 0.527);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  fieldset .bdeText {
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: rgba(0, 255, 55, 0.527);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  fieldset .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1vh;
    width: 100%;
  }
  fieldset .input label {
    font-weight: 500;
  }
  fieldset .input input {
    border: 2px solid #8956EF;
    border-radius: 5px;
    padding: 5px 0px;
  }
  fieldset .sendBtn {
    margin-top: 3vh;
    background-color: #8956EF;
    border: none;
    color: white;
    border: 2px solid #8956EF;
    border-radius: 5px;
    height: 5vh;
    width: 15vh;
  }
  fieldset .disabled {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    background-color: gray;
    border: 2px solid gray;
  }
  footer {
    background-color: #8956EF;
    width: 100%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  footer p {
    font-weight: 600;
    color: white;
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */